dl {
	dt {
		float: left;

		&::after {
			content: ':';
			margin-right: 15px;
		}
	}
}

.show-case-controls {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 15px;
	align-items: center;
	
	> *:not(:first-child) {
		margin-left: 15px;
	}
}

/* .chartWrapper {
	position: relative;

	> canvas {
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
	}
}

.chartAreaWrapper {
	max-width: 600px;
	overflow-x: scroll;
} */


