@import './../../css/variables';

.show-case-controls {
	display: flex;
	justify-content: flex-end;
	// margin-bottom: 15px;
	align-items: center;
	
	> *:not(:first-child) {
		margin-left: 15px;
	}

	@media (max-width: $breakpoint-tablet) {
		flex-direction: column;
		align-items: flex-start;
		
		> * {
			margin-left: 0 !important;
		}
	}
}
