@import './../../css/variables';

.controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 0.9rem;
	line-height: 1.7;

	.form-control {
		font-size: 0.9rem;
		line-height: 1.7;
	}

	& > :first-child {
		margin-left: 0;
		margin-right: auto;
	}

	@media (max-width: $breakpoint-desktop) {
		flex-direction: column;
		align-items: flex-start;
	}

	.chart-type-controls {
		display: flex;
		align-items: center;
		margin-left: 15px;

		@media (max-width: $breakpoint-desktop) {
			margin-left: 0;
		}
	}
}