@import './css/variables';

html, body, #app, .container {
	// min-height: 100vh;
	height: 100%;
}

dl {
	dt {
		float: left;

		&::after {
			content: ':';
			margin-right: 15px;
		}
	}
}

a {
	&:focus {
		outline: none;
	}
}

.loader {
    position: absolute;
    left: 50%;
	top: 50%;
	z-index: 9999;
}

.input-group {
	flex-wrap: nowrap;
	
	.react-datepicker-wrapper {
		flex-grow: 1;
	}

	.form-control {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;

	.main-content {
		flex-grow: 1;
	}

	footer {
		.button {
			cursor: pointer;
		}
	}

	.page-header {
		h1 {
			@media (max-width: $breakpoint-tablet) {
				font-size: 2rem;
			}
		}
	}
}