dl {
	dt {
		float: left;

		&::after {
			content: ':';
			margin-right: 15px;
		}
	}
}

a {
	&:focus {
		outline: none;
	}
}

.loader {
    position: absolute;
    left: 50%;
	top: 50%;
	z-index: 9999;
}

.input-group {
	.react-datepicker-wrapper {
		flex-grow: 1;
	}

	.form-control {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}